@use "mixins" as mx;


.content1{
    // --just_items: none;
    --hn_size: 10px;
    --hn_margin: 10px;
    --img_size: 100px;
    --img_float: none;
    --p_size: 10px;
    --margin_size_l:10px;
    --margin_size_r:10px;
    --img_marg_l: 2vh;
    --img_marg_r: 2vh;

    @include mx.content(
        // $just_items: var(--just_items),
        $hn_size: var(--hn_size),
        $hn_margin: var(--hn_margin),
        $img_size: var(--img_size),
        $img_float: var(--img_float),
        $font_size: var(--p_size),
        $marg_l: var(--margin_size_l),
        $marg_r: var(--margin_size_r),
        $img_marg_l: var(--img_marg_l),
        $img_marg_r: var(--img_marg_r),
    );
}

.content2{
    @extend .content1;
}

// Media Queries
/* ax-width: 300px */
@media only screen and (max-width: 300px) {
    .content1{
        --hn_size: 35px;
        --img_size: 90%;
        --p_size: 25px;
        --margin_size_l: 10px;   
        --margin_size_r: 10px;   
    }
}

/* min-width: 300px */
@media only screen and (min-width: 300px) {
    .content1{
        --hn_size: 35px;
        --img_size: 90%;
        --p_size: 25px;
        --margin_size_l: 10px;   
        --margin_size_r: 10px;   
    }
}

/* min-width: 450px */
@media only screen and (min-width: 450px) {
    .content1{
        --hn_size: 50px;
        --img_size: 90%;
        --p_size: 30px;
        --margin_size_l: 10px;   
        --margin_size_r: 10px;    
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
    .content1{
        --hn_size: 70px;
        --img_size: 90%;
        --p_size: 30px;
        --margin_size_l: 10px;   
        --margin_size_r: 10px;      
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    .content1{
        --hn_size: 70px;
        --img_size: 90%;
        --img_float: none;
        --p_size: 30px;
        --margin_size_l: 30px;   
        --margin_size_r: 30px;     
    }

}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    .content1{
        --hn_size: 80px;
        --img_size: 50%;
        --img_float: right;
        --p_size: 30px;
        --margin_size_l: 50px;   
        --margin_size_r: 50px;    
    }

    .content2{
        --img_float: left;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    .content1{
        --hn_size: 70px;
        --hn_margin: 40px;
        --img_size: 50%;
        --p_size: 30px;
        --margin_size_l: 10vh;   
        --margin_size_r: 10vh;
        --img_marg_l: 2vh; 
    }

    .content2{
        --hn_size: 70px;
        --hn_margin: 40px;
        --img_size: 50%;
        --p_size: 30px;
        --margin_size_l: 10vh;   
        --margin_size_r: 10vh;
        --img_marg_l: 0vh; 
        --img_marg_r: 5vh; 
    }
}

//4k
@media only screen and (min-width: 2560px) {
    .content1{
        --hn_size: 80px;
        --hn_margin: 40px;
        --img_size: 50%;
        --p_size: 40px;
        --margin_size_l: 10vh;   
        --margin_size_r: 10vh;
        --img_marg_l: 5vh;
    }

    .content2{
        --hn_size: 80px;
        --hn_margin: 40px;
        --img_size: 50%;
        --p_size: 40px;
        --margin_size_l: 10vh;   
        --margin_size_r: 10vh;
        --img_marg_l: 0vh; 
        --img_marg_r: 5vh; 
    }
}



