@charset "UTF-8";
:root {
  --height_header: 100vh;
  --cor_texto: #3b3b3b;
  --cor_borda: rgba(0, 0, 0, 0);
  --espessura_borda: 2px;
  --tipo_borda: solid;
  --cor_bg: #ff8d47;
  --cor_texto_hover: rgb(0, 0, 0,1);
  --cor_borda_hover: rgb(0, 0, 0,1);
  --espessura_borda_hover: 2px;
  --tipo_borda_hover: solid;
  --cor_bg_hover: #f0823f;
  --img_fc: url("../imgs/facebook_cinza.png");
  --img_fc_hover: url("../imgs/facebook_preto.png");
  --img_ins: url("../imgs/instagram_cinza.png");
  --img_ins_hover: url("../imgs/instagram_preto.png");
  --img_li: url("../imgs/linkedin_cinza.png");
  --img_li_hover: url("../imgs/linkedin_preto.png");
  --img_x: url("../imgs/twitter_cinza.png");
  --img_x_hover: url("../imgs/twitter_preto.png");
  --just_items: none;
  --pd_l: 10px;
  --pd_r: 10px;
  --pd_t: 100px;
  --pd_b: 100px;
  --marg_l: 20vh;
  --marg_r: 20vh;
  --img_size: 400px;
  --img_marg_l: 20px;
  --img_marg_r: 20px;
  --img_marg_t: 20px;
  --img_marg_b: 20px;
  --img_float: right;
  --color_shadow: rgba(95, 4, 4, 0.5);
  --font_size: 25px;
  --hn_aling: center;
  --hn_size: 50px;
  --hn_margin: 10px;
}

/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
  :root {
    --just_items: center;
    --pd_l: 10px;
    --pd_r: 10px;
    --pd_t: 100px;
    --pd_b: 100px;
    --marg_l: 5vh;
    --marg_r: 5vh;
    --img_size: 85%;
    --img_marg_l: 7%;
    --img_marg_r: 5%;
    --img_marg_t: 5%;
    --img_marg_b: 5%;
    --img_float: none;
    --color_shadow: rgba(95, 4, 4, 0.5);
    --font_size: 25px;
    --hn_aling: center;
    --hn_size: 50px;
    --hn_margin: 10px;
  }
}
/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
  :root {
    --just_items: center;
    --pd_l: 10px;
    --pd_r: 10px;
    --pd_t: 100px;
    --pd_b: 100px;
    --marg_l: 5vh;
    --marg_r: 5vh;
    --img_size: 85%;
    --img_marg_l: 7%;
    --img_marg_r: 5%;
    --img_marg_t: 5%;
    --img_marg_b: 5%;
    --img_float: none;
    --color_shadow: rgba(95, 4, 4, 0.5);
    --font_size: 25px;
    --hn_aling: center;
    --hn_size: 50px;
    --hn_margin: 10px;
  }
}
/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
  :root {
    --just_items: center;
    --pd_l: 10px;
    --pd_r: 10px;
    --pd_t: 100px;
    --pd_b: 100px;
    --marg_l: 5vh;
    --marg_r: 5vh;
    --img_size: 85%;
    --img_marg_l: 7%;
    --img_marg_r: 5%;
    --img_marg_t: 5%;
    --img_marg_b: 5%;
    --img_float: none;
    --color_shadow: rgba(95, 4, 4, 0.5);
    --font_size: 25px;
    --hn_aling: center;
    --hn_size: 50px;
    --hn_margin: 10px;
  }
}
/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
  :root {
    --just_items: none;
    --pd_l: 10px;
    --pd_r: 10px;
    --pd_t: 100px;
    --pd_b: 100px;
    --marg_l: 20vh;
    --marg_r: 20vh;
    --img_size: 400px;
    --img_marg_l: 20px;
    --img_marg_r: 20px;
    --img_marg_t: 20px;
    --img_marg_b: 20px;
    --img_float: right;
    --color_shadow: rgba(95, 4, 4, 0.5);
    --font_size: 25px;
    --hn_aling: center;
    --hn_size: 50px;
    --hn_margin: 10px;
  }
}
/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
  :root {
    --height_header: 100vh;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(201, 178, 178);
  margin: 0;
}

header {
  height: var(--height_header);
}
header p {
  font-size: 80px;
  width: 100%;
  padding-top: 150px;
  text-align: center;
  -webkit-hyphens: auto;
          hyphens: auto;
}

#img_bg {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

main {
  background-color: rgb(201, 178, 178);
}

.nav_principal {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 6%;
  padding-right: 6%;
}

.links_redes {
  display: inline-flex;
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}
.links_redes .botoes {
  display: inline;
}
.links_redes .botoes a {
  color: var(--cor_texto);
  border: var(--espessura_borda) var(--cor_borda) var(--tipo_borda);
  background-color: var(--cor_bg);
  margin: 10px;
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  text-decoration: none;
}
.links_redes .botoes a:hover {
  color: var(--cor_texto_hover);
  border: var(--espessura_borda_hover) var(--cor_borda_hover) var(--tipo_borda_hover);
  background-color: var(--cor_bg_hover);
}
.links_redes a {
  margin-left: 20px;
}
.links_redes img {
  width: 40px;
}
.links_redes #a_Faceboock img {
  background-image: var(--img_fc);
  background-size: 40px;
}
.links_redes #a_Faceboock:hover img {
  background-image: var(--img_fc_hover);
}
.links_redes #a_Instagram img {
  background-image: var(--img_ins);
  background-size: 40px;
}
.links_redes #a_Instagram:hover img {
  background-image: var(--img_ins_hover);
}
.links_redes #a_LinkedIn img {
  background-image: var(--img_li);
  background-size: 40px;
}
.links_redes #a_LinkedIn:hover img {
  background-image: var(--img_li_hover);
}
.links_redes #a_X img {
  background-image: var(--img_x);
  background-size: 40px;
}
.links_redes #a_X:hover img {
  background-image: var(--img_x_hover);
}

.content1 {
  padding: var(--pd_t) var(--pd_r) var(--pd_b) var(--pd_l);
  overflow: auto;
  margin-left: var(--marg_l);
  margin-right: var(--marg_r);
  justify-items: var(--just_items);
}
.content1 img {
  float: var(--img_float);
  width: var(--img_size);
  margin: var(--img_marg_t) var(--img_marg_r) var(--img_marg_b) var(--img_marg_l);
  border-radius: 20px;
  box-shadow: 10px 10px 20px var(--color_shadow);
}
.content1 .hn_ {
  text-align: var(--hn_aling);
  font-size: var(--hn_size);
  margin: var(--hn_margin);
}
.content1 p {
  font-size: var(--font_size);
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
}/*# sourceMappingURL=main.css.map */