@charset "UTF-8";
main {
  background-color: rgb(201, 178, 178);
}

.content1, .content2 {
  --hn_size: 10px;
  --hn_margin: 10px;
  --img_size: 100px;
  --img_float: none;
  --p_size: 10px;
  --margin_size_l:10px;
  --margin_size_r:10px;
  --img_marg_l: 2vh;
  --img_marg_r: 2vh;
  --color_shadow: rgba(95, 4, 4, 0.5);
  text-align: center;
  padding: 100px 10px 100px 10px;
  overflow: auto;
  margin-left: var(--margin_size_l);
  margin-right: var(--margin_size_r);
}
.content1 img, .content2 img {
  float: var(--img_float);
  width: var(--img_size);
  margin: 2vh var(--img_marg_r) 2vh var(--img_marg_l);
  border-radius: 20px;
  box-shadow: 10px 10px 20px var(--color_shadow);
}
.content1 .hn_, .content2 .hn_ {
  text-align: center;
  font-size: var(--hn_size);
  margin: var(--hn_margin);
}
.content1 p, .content2 p {
  font-size: var(--p_size);
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
}

/* ax-width: 300px */
@media only screen and (max-width: 300px) {
  .content1, .content2 {
    --hn_size: 35px;
    --img_size: 90%;
    --p_size: 25px;
    --margin_size_l: 10px;
    --margin_size_r: 10px;
  }
}
/* min-width: 300px */
@media only screen and (min-width: 300px) {
  .content1, .content2 {
    --hn_size: 35px;
    --img_size: 90%;
    --p_size: 25px;
    --margin_size_l: 10px;
    --margin_size_r: 10px;
  }
}
/* min-width: 450px */
@media only screen and (min-width: 450px) {
  .content1, .content2 {
    --hn_size: 50px;
    --img_size: 90%;
    --p_size: 30px;
    --margin_size_l: 10px;
    --margin_size_r: 10px;
  }
}
/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {
  .content1, .content2 {
    --hn_size: 70px;
    --img_size: 90%;
    --p_size: 30px;
    --margin_size_l: 10px;
    --margin_size_r: 10px;
  }
}
/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
  .content1, .content2 {
    --hn_size: 70px;
    --img_size: 90%;
    --img_float: none;
    --p_size: 30px;
    --margin_size_l: 30px;
    --margin_size_r: 30px;
  }
}
/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
  .content1, .content2 {
    --hn_size: 80px;
    --img_size: 50%;
    --img_float: right;
    --p_size: 30px;
    --margin_size_l: 50px;
    --margin_size_r: 50px;
  }
  .content2 {
    --img_float: left;
  }
}
/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
  .content1, .content2 {
    --hn_size: 70px;
    --hn_margin: 40px;
    --img_size: 50%;
    --p_size: 30px;
    --margin_size_l: 10vh;
    --margin_size_r: 10vh;
    --img_marg_l: 2vh;
  }
  .content2 {
    --hn_size: 70px;
    --hn_margin: 40px;
    --img_size: 50%;
    --p_size: 30px;
    --margin_size_l: 10vh;
    --margin_size_r: 10vh;
    --img_marg_l: 0vh;
    --img_marg_r: 5vh;
  }
}
@media only screen and (min-width: 2560px) {
  .content1, .content2 {
    --hn_size: 80px;
    --hn_margin: 40px;
    --img_size: 50%;
    --p_size: 40px;
    --margin_size_l: 10vh;
    --margin_size_r: 10vh;
    --img_marg_l: 5vh;
  }
  .content2 {
    --hn_size: 80px;
    --hn_margin: 40px;
    --img_size: 50%;
    --p_size: 40px;
    --margin_size_l: 10vh;
    --margin_size_r: 10vh;
    --img_marg_l: 0vh;
    --img_marg_r: 5vh;
  }
}
header {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#img_bg {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
}

.nav_principal {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 6%;
  padding-right: 6%;
}

#icon_empresa {
  display: inline-flex;
  --cor_icon: #eeb20c;
  --cor_icon_hover: #caa234;
  text-decoration: none;
  margin: 0px;
}
#icon_empresa img {
  -webkit-mask-image: url("../imgs/unit-testing.png");
  mask-image: url("../imgs/unit-testing.png");
  background-color: var(--cor_icon);
  width: 100px;
  height: 100px;
  -webkit-mask-size: 100px;
          mask-size: 100px;
}
#icon_empresa:hover img {
  background-color: var(--cor_icon_hover);
}

.links_redes {
  display: none;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  --cor_icon: rgb(80, 63, 51);
  --cor_icon_hover: rgb(0, 0, 0);
  --tamanho_icon: 40px;
  --icon_margin: 10px;
  --bt_font_size: 20px;
  --bt_espessura_borda: 2px;
  --bt_border_radius: 20px;
  --bt_margin: 10px;
  --bt_text_color: #3b3b3b;
  --bt_cor_borda: rgba(0, 0, 0, 0);
  --bt_cor_bg: #ff8d47;
  --bt_text_color_hover: #000000;
  --bt_cor_borda_hover: rgb(0, 0, 0);
  --bt_cor_bg_hover: #ff8337;
}
.links_redes .botoes a {
  font-size: var(--bt_font_size);
  display: inline;
  color: var(--bt_text_color);
  border: var(--bt_espessura_borda) var(--bt_cor_borda) solid;
  background-color: var(--bt_cor_bg);
  margin: var(--bt_margin);
  border-radius: var(--bt_border_radius);
  padding-left: 14px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  text-decoration: none;
}
.links_redes .botoes a:hover {
  font-size: var(--bt_font_size);
  color: var(--bt_text_color_hover);
  border: var(--bt_espessura_borda) var(--bt_cor_borda_hover) solid;
  background-color: var(--bt_cor_bg_hover);
}
.links_redes #header_Faceboock {
  text-decoration: none;
  margin: var(--icon_margin);
}
.links_redes #header_Faceboock img {
  -webkit-mask-image: url("../imgs/facebook_preto.png");
  mask-image: url("../imgs/facebook_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.links_redes #header_Faceboock:hover img {
  background-color: var(--cor_icon_hover);
}
.links_redes #header_Instagram {
  text-decoration: none;
  margin: var(--icon_margin);
}
.links_redes #header_Instagram img {
  -webkit-mask-image: url("../imgs/instagram_preto.png");
  mask-image: url("../imgs/instagram_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.links_redes #header_Instagram:hover img {
  background-color: var(--cor_icon_hover);
}
.links_redes #header_LinkedIn {
  text-decoration: none;
  margin: var(--icon_margin);
}
.links_redes #header_LinkedIn img {
  -webkit-mask-image: url("../imgs/linkedin_preto.png");
  mask-image: url("../imgs/linkedin_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.links_redes #header_LinkedIn:hover img {
  background-color: var(--cor_icon_hover);
}
.links_redes #header_X {
  text-decoration: none;
  margin: var(--icon_margin);
}
.links_redes #header_X img {
  -webkit-mask-image: url("../imgs/twitter_preto.png");
  mask-image: url("../imgs/twitter_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.links_redes #header_X:hover img {
  background-color: var(--cor_icon_hover);
}

.button_menu {
  --button_menu_bg_color: #503F33;
  --button_menu_line_color: #c96222;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 20%;
  background-color: var(--button_menu_bg_color);
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button_menu div {
  height: 5px;
  width: 70%;
  background-color: var(--button_menu_line_color);
  border-radius: 10px;
  position: absolute;
}
.button_menu .div_line1 {
  top: 8px;
  transition: opacity 0.25s ease-in-out;
}
.button_menu .div_line2 {
  opacity: 0%;
  align-self: center;
  transition: transform, opacity, 0.5s ease-in-out;
}
.button_menu .div_line3 {
  align-self: center;
  transition: transform, opacity, 0.5s ease-in-out;
}
.button_menu .div_line4 {
  bottom: 8px;
  transition: opacity 0.25s ease-in-out;
}

.div_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 79.2vh;
  width: 100%;
  margin: 0px 20px 0 20px;
  transition: -webkit-mask-position 1s ease-in-out;
  transition: mask-position 1s ease-in-out;
  transition: mask-position 1s ease-in-out, -webkit-mask-position 1s ease-in-out;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 100vh, rgba(0, 0, 0, 0.5) 115vh, rgba(0, 0, 0, 0) 130vh);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 100vh, rgba(0, 0, 0, 0.5) 115vh, rgba(0, 0, 0, 0) 130vh);
  -webkit-mask-position: 0vh -130vh;
          mask-position: 0vh -130vh;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 130vh;
          mask-size: 100% 130vh;
}
.div_menu a {
  color: #503F33;
  font-size: 30px;
  text-decoration: none;
  padding: 20px;
}
.div_menu .div_redes_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
  --cor_icon_hover: rgb(0, 0, 0);
  --cor_icon: rgb(34, 34, 34);
  --tamanho_icon: 50px;
  --padding_lateral: 80px;
}
.div_menu .div_redes_menu a {
  padding: 0;
}
.div_menu .div_redes_menu #menu_Faceboock {
  text-decoration: none;
  margin: 0px;
  padding-left: var(--padding_lateral);
}
.div_menu .div_redes_menu #menu_Faceboock img {
  -webkit-mask-image: url("../imgs/facebook_preto.png");
  mask-image: url("../imgs/facebook_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.div_menu .div_redes_menu #menu_Faceboock:hover img {
  background-color: var(--cor_icon_hover);
}
.div_menu .div_redes_menu #menu_Instagram {
  text-decoration: none;
  margin: 0px;
}
.div_menu .div_redes_menu #menu_Instagram img {
  -webkit-mask-image: url("../imgs/instagram_preto.png");
  mask-image: url("../imgs/instagram_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.div_menu .div_redes_menu #menu_Instagram:hover img {
  background-color: var(--cor_icon_hover);
}
.div_menu .div_redes_menu #menu_LinkedIn {
  text-decoration: none;
  margin: 0px;
}
.div_menu .div_redes_menu #menu_LinkedIn img {
  -webkit-mask-image: url("../imgs/linkedin_preto.png");
  mask-image: url("../imgs/linkedin_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.div_menu .div_redes_menu #menu_LinkedIn:hover img {
  background-color: var(--cor_icon_hover);
}
.div_menu .div_redes_menu #menu_X {
  text-decoration: none;
  margin: 0px;
  padding-right: var(--padding_lateral);
}
.div_menu .div_redes_menu #menu_X img {
  -webkit-mask-image: url("../imgs/twitter_preto.png");
  mask-image: url("../imgs/twitter_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
.div_menu .div_redes_menu #menu_X:hover img {
  background-color: var(--cor_icon_hover);
}

.div_bg_menu {
  background-color: rgba(254, 118, 33, 0.5764705882);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  display: flex;
  transition: -webkit-mask-position 1s ease-in-out;
  transition: mask-position 1s ease-in-out;
  transition: mask-position 1s ease-in-out, -webkit-mask-position 1s ease-in-out;
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 100vh, rgba(0, 0, 0, 0.5) 115vh, rgba(0, 0, 0, 0) 130vh);
          mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 100vh, rgba(0, 0, 0, 0.5) 115vh, rgba(0, 0, 0, 0) 130vh);
  -webkit-mask-position: 0vh -130vh;
          mask-position: 0vh -130vh;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 130vh;
          mask-size: 100% 130vh;
}

@media only screen and (max-width: 300px) {
  .div_menu .div_redes_menu {
    --padding_lateral: 20px;
    --tamanho_icon: 30px;
  }
}
/* Smartphones (600px para baixo) */
@media only screen and (min-width: 300px) {
  .div_menu .div_redes_menu {
    --padding_lateral: 20px;
    --tamanho_icon: 40px;
  }
}
/* Smartphones (600px para baixo) */
@media only screen and (min-width: 450px) {
  .div_menu .div_redes_menu {
    --padding_lateral: 80px;
    --tamanho_icon: 50px;
  }
}
/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
/*Dispostivos Médios (Tablets deitados, 768px para cima) */
/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
  .button_menu {
    display: none;
  }
  .div_menu {
    display: none;
  }
  .div_bg_menu {
    display: none;
  }
  .links_redes {
    display: inline-flex;
  }
}
/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
  .links_redes {
    --tamanho_icon: 40px;
    --icon_margin: 10px;
    --bt_font_size: 20px;
    --bt_espessura_borda: 2px;
    --bt_border_radius: 20px;
    --bt_margin: 10px;
  }
}
@media only screen and (min-width: 2560px) {
  .links_redes {
    --tamanho_icon: 70px;
    --icon_margin: 20px;
    --bt_font_size: 40px;
    --bt_espessura_borda: 3px;
    --bt_border_radius: 30px;
    --bt_margin: 20px;
  }
}
footer {
  --cor_texto:rgb(248, 200, 181);
  --cor_bg: #c91801;
  --icon_redes_cor: rgb(206, 174, 161);
  --icon_redes_cor_hover: rgb(204, 153, 111);
  --tamanho_texto: 20px;
  --tamanho_h3: 30px;
  justify-items: center;
  background-color: var(--cor_bg);
  padding: 10px 10px 10px 10px;
}
footer .footer_info_empresa {
  justify-items: center;
  color: var(--cor_texto);
}
footer .footer_info_empresa p {
  margin: 5px;
}
footer .footer_redes {
  --cor_icon: var(--icon_redes_cor);
  --cor_icon_hover: var(--icon_redes_cor_hover);
  --tamanho_icon: 40px;
  --icon_margin: 10px;
}
footer .footer_redes #footer_faceboock {
  text-decoration: none;
  margin: var(--icon_margin);
}
footer .footer_redes #footer_faceboock img {
  -webkit-mask-image: url("../imgs/facebook_preto.png");
  mask-image: url("../imgs/facebook_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
footer .footer_redes #footer_faceboock:hover img {
  background-color: var(--cor_icon_hover);
}
footer .footer_redes #footer_instagram {
  text-decoration: none;
  margin: var(--icon_margin);
}
footer .footer_redes #footer_instagram img {
  -webkit-mask-image: url("../imgs/instagram_preto.png");
  mask-image: url("../imgs/instagram_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
footer .footer_redes #footer_instagram:hover img {
  background-color: var(--cor_icon_hover);
}
footer .footer_redes #footer_linkedin {
  text-decoration: none;
  margin: var(--icon_margin);
}
footer .footer_redes #footer_linkedin img {
  -webkit-mask-image: url("../imgs/linkedin_preto.png");
  mask-image: url("../imgs/linkedin_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
footer .footer_redes #footer_linkedin:hover img {
  background-color: var(--cor_icon_hover);
}
footer .footer_redes #footer_x {
  text-decoration: none;
  margin: var(--icon_margin);
}
footer .footer_redes #footer_x img {
  -webkit-mask-image: url("../imgs/twitter_preto.png");
  mask-image: url("../imgs/twitter_preto.png");
  background-color: var(--cor_icon);
  width: var(--tamanho_icon);
  height: var(--tamanho_icon);
  -webkit-mask-size: var(--tamanho_icon);
          mask-size: var(--tamanho_icon);
}
footer .footer_redes #footer_x:hover img {
  background-color: var(--cor_icon_hover);
}
footer h3 {
  font-size: var(--tamanho_h3);
}
footer p {
  color: var(--cor_texto);
  font-size: var(--tamanho_texto);
  white-space: nowrap;
}

/* Smartphones (600px para baixo) */
/* Smartphones (600px para baixo) */
@media only screen and (min-width: 450px) {
  footer {
    --tamanho_texto: 20px;
    --tamanho_h3: 27px;
  }
}
/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
/*Dispostivos Médios (Tablets deitados, 768px para cima) */
/* Dispostivos Largos (laptops/desktops, 992px para cima) */
/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
  footer {
    --tamanho_texto: 20px;
    --tamanho_h3: 30px;
  }
  footer .footer_redes {
    --tamanho_icon: 50px;
    margin: 20px;
  }
}
@media only screen and (min-width: 2560px) {
  footer {
    --tamanho_texto: 50px;
    --tamanho_h3: 70px;
  }
  footer .footer_redes {
    --tamanho_icon: 100px;
    margin: 30px;
  }
}
.link_whatsapp {
  --img_size:75px;
  position: fixed;
  bottom: 0px;
  right: 5px;
  margin: 0 10px 10px 0;
  z-index: 5;
}
.link_whatsapp img {
  border-radius: 100%;
  width: var(--img_size);
  box-shadow: 10px 10px 20px rgba(228, 0, 0, 0.37);
}

#icon_empresa {
  --cor_icon: #eeb20c;
  --cor_icon_hover: #caa234;
}

.links_redes {
  --bt_text_color: #3b3b3b;
  --bt_cor_borda: rgba(0, 0, 0, 0);
  --bt_cor_bg: #ff8d47;
  --bt_text_color_hover: #000000;
  --bt_cor_borda_hover: rgb(0, 0, 0);
  --bt_cor_bg_hover: #ff8337;
}

.links_redes {
  --cor_icon: rgb(80, 63, 51);
  --cor_icon_hover: rgb(0, 0, 0);
}

.button_menu {
  --button_menu_bg_color: #503F33;
  --button_menu_line_color: #c96222;
}

.div_menu {
  visibility: hidden;
}
.div_menu a {
  color: #503F33;
}
.div_menu .div_redes_menu {
  --cor_icon_hover: rgb(0, 0, 0);
  --cor_icon: rgb(34, 34, 34);
}

.div_bg_menu {
  visibility: hidden;
  background-color: rgba(254, 118, 33, 0.5764705882);
}

#img_bg {
  background-color: rgb(201, 178, 178);
}

main {
  background-color: rgb(201, 178, 178);
}

.content1, .content2 {
  --color_shadow: rgba(95, 4, 4, 0.5);
}

.link_whatsapp img {
  box-shadow: 10px 10px 20px rgba(228, 0, 0, 0.37);
}

footer {
  --cor_texto:rgb(248, 200, 181);
  --cor_bg: #c91801;
  --icon_redes_cor: rgb(206, 174, 161);
  --icon_redes_cor_hover: rgb(204, 153, 111);
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* Remove o efeito azul */
}

body {
  margin: 0;
}

#icon_empresa {
  --cor_icon: #2267fc;
  --cor_icon_hover: #3436ca;
}

.links_redes {
  --bt_text_color: #000124;
  --bt_cor_borda: rgba(0, 0, 0, 0);
  --bt_cor_bg: #2267fc;
  --bt_text_color_hover: #001749;
  --bt_cor_borda_hover: #000000;
  --bt_cor_bg_hover: #477df1;
}

.links_redes {
  --cor_icon: #2267fc;
  --cor_icon_hover: #477df1;
}

.button_menu {
  --button_menu_bg_color: #000000;
  --button_menu_line_color: #003cff;
}

.div_menu a {
  color: #000000;
}
.div_menu .div_redes_menu {
  --cor_icon_hover: rgb(9, 0, 51);
  --cor_icon: rgb(0, 0, 0);
}

.div_bg_menu {
  background-color: rgba(0, 47, 255, 0.4509803922);
}

#img_bg {
  background-color: rgb(178, 178, 201);
}

main {
  background-color: rgb(178, 178, 201);
}

.content1, .content2 {
  --color_shadow: rgba(13, 4, 95, 0.5);
}

.link_whatsapp img {
  box-shadow: 10px 10px 20px rgba(23, 0, 228, 0.37);
}

footer {
  --cor_texto:rgb(181, 182, 248);
  --cor_bg: #0104c9;
  --icon_redes_cor: rgb(164, 161, 206);
  --icon_redes_cor_hover: rgb(117, 111, 204);
}/*# sourceMappingURL=style_pag1.css.map */